streamlit
langchain
langchain-community
langchain-core
langchain-groq
python-dotenv
SpeechRecognition
gTTS
streamlit-mic-recorder
pydantic
streamlit
gtts
SpeechRecognition
langchain-groq
langchain-core
python-dotenv
audio-recorder-streamlit
